<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
 <section class="banner d-flex justify-content-center align-items-center">
     <div class="text-center">
         <h1>Questions Manager</h1>
         <p>Create your Competitive Programming Questions notes with images, pdfs, and tags</p>
         <button class="btn btn-primary button-custom">Sign up</button>

     </div>

 </section>


</body>
</html>