<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
 <section>
     <div class="banner d-flex justify-content-center align-items-center">
         <div class="text-center">
             <h1>Questions Manager</h1>
             <p>Create your Competitive Programming Questions notes with images, pdfs, and tags</p>
             <button class="btn btn-primary button-custom" id="myButton">Sign up</button>

         </div>
     </div>

     <br>
     <br>
     <div class="homeContainer">
         <div class="homeContainerItems">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi at aut cumque debitis dolor dolores ea est, facilis ipsam iure magnam minima necessitatibus nobis odio omnis provident repudiandae saepe vero.</div>
         <div class="homeContainerItems">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium aspernatur consequatur consequuntur, dolorem doloribus eaque hic libero minus, nostrum porro quia tempore, velit vitae voluptatem voluptates voluptatibus? Aut, ducimus!</div>
         <div class="homeContainerItems">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum obcaecati, quae quas quia repellat temporibus ullam. Consequuntur, doloribus dolorum eaque incidunt minima molestiae natus officia reiciendis sapiente sunt voluptates voluptatibus!</div>


         <div class="homeContainerItems">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi at aut cumque debitis dolor dolores ea est, facilis ipsam iure magnam minima necessitatibus nobis odio omnis provident repudiandae saepe vero.</div>
         <div class="homeContainerItems">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi at aut cumque debitis dolor dolores ea est, facilis ipsam iure magnam minima necessitatibus nobis odio omnis provident repudiandae saepe vero.</div>
         <div class="homeContainerItems">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi at aut cumque debitis dolor dolores ea est, facilis ipsam iure magnam minima necessitatibus nobis odio omnis provident repudiandae saepe vero.</div>
         <div class="homeContainerItems">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi at aut cumque debitis dolor dolores ea est, facilis ipsam iure magnam minima necessitatibus nobis odio omnis provident repudiandae saepe vero.</div>

         <div class="homeContainerItems">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus autem deleniti doloribus ducimus hic ipsam ipsum laboriosam natus necessitatibus nesciunt pariatur praesentium quae quod, temporibus velit? Deserunt dignissimos exercitationem maiores!</div>
     </div>


 </section>


</body>
</html>