<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<section>

    <br>

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3" style="background-color: rgb(11, 11, 11);">
                <div class="my-card mt-3">
                    <h1 class="text-center" style="color:white;">Login</h1>
                    <!--            jo user controller se model attribute mai aa rha hai use yaha fetch kr rhe hai.-->

                    <form th:action="@{/do_login}" method="post" th:object="${user}">



                        <!--            email-->

                        <div class="form-group">
                            <label for="email_field" style="color:white;">Email</label>
                            <input name="email" type="email" class="form-control" id="email_field" aria-describedby="emailHelp" placeholder="Enter Here" th:value="${user.email}" required>
                        </div>

                        <!--            password-->

                        <div class="form-group">
                            <label for="password_field" style="color:white;">Password</label>
                            <input name="password" type="password" class="form-control" id="password_field" aria-describedby="emailHelp" placeholder="Enter Here"  required>
                        </div>




                        <!--              jab session se message tabhi ye dikhega-->
                        <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
                            <p class="text-center" th:text="${session.message.content}"></p>
                            <th:block th:remove="all"></th:block>
                        </div>

                        <!--            buttons-->
                        <div class="container text-center">
                            <button class="btn btn-primary button-custom" type="submit">Submit</button>
                            <button class="btn btn-primary button-custom" type="reset">Reset</button>
                        </div>



                        <br>

                    </form>
                </div>


            </div>
        </div>
    </div>


</section>


</body>
</html>